* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 234, 209, 1);
}

header {
    max-width: 940px;
    margin: auto;
}

h1 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
}

#content-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#selection-area {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

#img-container {
    width: 600px;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* background: linear-gradient(78deg,rgba(246, 227, 223, 1) 0%, rgba(255, 234, 209, 1) 100%); */
    background: linear-gradient(90deg,rgb(200, 191, 216) 0%, rgba(248, 227, 223, 1) 70%, rgba(255, 234, 209, 1) 100%);
    position: relative;
}

#img {
    visibility: hidden;
}

/* text over the image area */
#description {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.15em;
    line-height: 1.3em; 
    bottom: 10px;
    left: 10px;
}

#info {
    /* background-color: rgb(168, 159, 184); */
    /* background: linear-gradient(90deg,rgba(168, 159, 184, 1) 0%, rgba(248, 227, 223, 1) 70%, rgba(255, 234, 209, 1) 100%); */
    background: linear-gradient(90deg,rgb(200, 191, 216) 0%, rgba(248, 227, 223, 1) 70%, rgba(255, 234, 209, 1) 100%);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    min-height: 133px;
}

#info p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;    
}

#info h2 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 1.5em;
}

.tiles {
    width: 150px;
    background-color: antiquewhite;
    border-radius: 10px;
    position: relative;
}

.tiles:hover {
    cursor: pointer;
    font-size: 1.5em;
}

.tiles p {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size 1s ease;
}

/* background colors */
#point1 {
    /* background-color: rgb(157, 180, 201); */
    /* background: radial-gradient(circle,rgba(219, 240, 255, 1) 10%, rgba(157, 180, 201, 1) 100%); */
    background: radial-gradient(circle,rgba(219, 240, 255, 1) 0%, rgba(189, 211, 229, 1) 26%, rgba(157, 180, 201, 1) 100%);
}

#point2 {
    /* background-color: rgb(58, 110, 177); */
    background: radial-gradient(circle,rgba(148, 194, 255, 1) 0%, rgba(119, 164, 222, 1) 26%, rgba(58, 110, 177, 1) 100%);
}

#point3 {
    /* background-color: rgb(129, 177, 66); */
    background: radial-gradient(circle,rgba(207, 255, 148, 1) 0%, rgba(177, 222, 126, 1) 27%, rgba(129, 177, 66, 1) 100%);
}

#point4 {
    /* background-color: rgb(233, 213, 98); */
    background: radial-gradient(circle,rgba(255, 251, 189, 1) 0%, rgba(252, 246, 157, 1) 26%, rgba(223, 213, 98, 1) 100%);
}

#point5 {
    /* background-color: rgb(139, 138, 196); */
    background: radial-gradient(circle,rgba(207, 207, 255, 1) 0%, rgba(191, 191, 241, 1) 26%, rgba(139, 138, 196, 1) 100%);
}

#point6 {
    /* background-color: rgb(236, 173, 0); */
    background: radial-gradient(circle,rgba(255, 222, 150, 1) 0%, rgba(255, 206, 103, 1) 26%, rgba(255, 173, 0, 1) 100%);
}

#point7 {
    /* background-color: rgb(216, 115, 89); */
    background: radial-gradient(circle,rgba(255, 182, 171, 1) 0%, rgba(255, 157, 141, 1) 26%, rgba(255, 115, 89, 1) 100%);
}

#point8 {
    /* background-color: rgb(75, 45, 10); */
    background: radial-gradient(circle,rgba(158, 93, 24, 1) 0%, rgba(135, 80, 20, 1) 26%, rgba(75, 45, 10, 1) 100%);
    color: aliceblue;
}

/* footer */
footer{
    margin-bottom: 20px;
}

footer p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    font-size: 1em;
    margin: auto;
    text-align: center;
}

a {
    color: black;
}

p a:hover {
    color: rgb(45, 18, 145);
}