/* CSS Resets */
* {
    box-sizing: border-box;
}

h1, h2, h3, ul, a {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


/* Page styling */

body {
    background-color: #706d6d;
    color: rgb(235, 235, 235);
    transition: all 2s;
    background-image: url(images/outsides.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center top; */
}

body.switch {
    background-image: url(images/insides.jpg);
}

#container {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
}

#container.switch {
    flex-direction: row-reverse;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

header {
    margin: 0 auto 1em auto;
    text-align: right;
    background-color: rgba(90, 102, 116, 0.5);
    padding: 15px;
    border-radius: 5px;
}

header.switch {
    text-align: left; 
}

.tiles {
    background-color: rgba(90, 102, 116, 0.5);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    min-width: 250px;
}

.tiles.switch {
    background-color: rgba(90, 102, 116, 0.5);
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: rgb(255, 196, 0);
}

section a:hover {
    background-color: rgb(255, 196, 0);
    color: #333;
}

section.switch a {
    color: rgb(73, 62, 95);
}

section.switch a:hover {
    background-color: rgb(116, 104, 143);
    color: rgb(235, 235, 235);
}

.button {
    display: flex;
    justify-content: right;
}

.button.switch {
    justify-content: left;
}

button {
    padding: 12px;
    background-color: rgba(90, 102, 116, 0.5);
    border-radius: 5px;
    color: rgb(226, 224, 224);
    border: 1px solid transparent;
    font-family: "Dancing Script";
    font-weight: 650;
    font-style: normal;
    font-size: 2.3em;
    transition: all 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: #333;
    transform: translateY(5px);
}

button.switch {
    background-color: rgba(90, 102, 116, 0.5);
    top: 150px;
    left: 1.5em;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}


/* text */

h1 {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    margin-bottom: 5px;
    /* color: rgb(85, 150, 211); */
    color: rgb(255, 196, 0);
}

h1.switch {
    /* color: rgb(86, 76, 110); */
    color: rgb(116, 104, 143);
}

h2 {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
    /* color: rgb(41, 134, 221); */
    color: rgb(194, 150, 7);
}

h2.switch {
    color: rgb(47, 35, 77);
}

h3 {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 10px;
}

a {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

